<nav>
    <ul>
        <li>
            <span class='editable-Title' contenteditable='true'>Untitled Document</span>
            <span class='fa fa-pencil-square-o'>&nbsp;</span>
        </li>
    </ul>
</nav>