<nav>
    <ul>
        <li>
            <div class='input title'>
                <input type='text' id='txtTitle' required value='<%= title %>' />
                <label for='txtTitle'><span class='fa fa-pencil-square-o'>&nbsp;</span></label>
            </div>
        </li>
    </ul>
</nav>