<!DOCTYPE html>
<html>
    <head>
        
        <style id='editable-css' type='text/css'>
                <%- CSS %>
        </style>
    </head>
    <body id='editable-html'>
        <%- HTML %>
        <script id='editable-javascript' type='text/javascript'></script>
    </body>
</html>